/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


ul,
li {
    list-style: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery-image {
    width: 360px;
    height: 200px;
}

/* */

.feedback-form {
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-bottom: 8px;
}

.textarea {
    border: 1px solid #808080;
        border-radius: 4px;
        width: 360px;
        height: 80px;
        margin-bottom: 8px;
}

.form {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    margin-top: 8px;
}